/*@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');*/
@import 'tailwindcss';

@import '../../config/styles/behavior.css';

/* Hide scrollbar */
/*body::-webkit-scrollbar {*/
/*    display: none;*/
/*}*/

body::-webkit-scrollbar {
  width: 10px; /* Set width of the scrollbar */
  /*height: 200px; !* Scrollbar height *!*/
  z-index: 50;
}

body::-webkit-scrollbar-track {
  background: transparent; /* No track */
}

body::-webkit-scrollbar-thumb {
  background-color: #bcff83; /* Green rectangle */
  /*border-radius: 0; !* No rounded corners *!*/
  /*height: 150px; !* Force height of thumb *!*/
}

/*:root {*/
/*  --background: #ffffff;*/
/*  --foreground: #171717;*/
/*}*/

/*@theme inline {*/
/*  !*--color-background: var(--background);*!*/
/*  !*--color-foreground: var(--foreground);*!*/
/*  !*--font-sans: var(--font-geist-sans);*!*/
/*  !*--font-mono: var(--font-geist-mono);*!*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

/*body {*/
/*  !*background: var(--background);*!*/
/*  !*color: var(--foreground);*!*/
/*  !*font-family: Figtree, sans-serif;*!*/
/*}*/
